<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
       <div class="col-sm-6" style="background-color:lavender;">
		            
<center> 
<canvas id="gaugeA"></canvas>				
<script>   	
var gaugeA = new Gauge({
	renderTo   : 'gaugeA',
	width      : 270,
	height     : 270,
    minValue   : 0,
 	maxValue   : 200,
	majorTicks : ['0','20','40','60','80','100','120','140','160','180','200'],
	glow       : true,
	units      : 'C',
	title      : 'Temperature',
	glow : false,
	valueFormat : { int : 4, dec : 1 },
	highlights  : [
			{ from : 0,   to : 50, color : 'rgba(0,   255, 0, .15)' },
			{ from : 50, to : 100, color : 'rgba(255, 30,  0, .25)' },
			{ from : 100, to : 200, color : 'rgba(255, 255, 0, .15)' }
		],
	colors : {
		needle : { start : 'lightgreen', end : 'navy' },
		plate : 'lightyellow',
		title : 'green',
		units : 'lightgreen',
		majorTicks : 'darkgreen',
		minorTicks : 'lightgreen',
		numbers : 'darkgreen'
	},
	animation : {
		delay : 25,
		duration: 500,
		fn : 'elastic'
	}
});

gaugeA.onready = function() {
	           var socket = io.connect();
                    socket.on('giornata', function(data){
                          var obj = JSON.parse(data.some);
                          gaugeA.setValue(obj.tempA);
                              });
}
               
gaugeA.draw();
</script>   
</center>
</div>
	
	
<div class="col-sm6" style="background-color:lavender;">
<center>
<canvas id="gaugeB"></canvas>
<script>
var gaugeB = new Gauge({
	renderTo   : 'gaugeB',
	width      : 270,
	height     : 270,
	minValue   : 0,
	maxValue   : 200,
	majorTicks : ['0','20','40','60','80','100','120','140','160','180','200'],
	glow       : true,

	units      : 'C',
	title      : 'Temperature',
	highlights : false,
	glow : false,
	valueFormat : { int : 4, dec : 1 },
	highlights  : [
			{ from : 0,   to : 50, color : 'rgba(0,   255, 0, .15)' },
			{ from : 50, to : 100, color : 'rgba(255, 30,  0, .25)' },
			{ from : 100, to : 200, color : 'rgba(255, 255, 0, .15)' }
		],
	colors : {
		needle : { start : 'lightgreen', end : 'navy' },
		plate : 'lightyellow',
		title : 'green',
		units : 'lightgreen',
		majorTicks : 'darkgreen',
		minorTicks : 'lightgreen',
		numbers : 'darkgreen'
	},
	animation : {
		delay : 25,
		duration: 500,
		fn : 'elastic'
	}
});

gaugeB.onready = function() {
	var socket = io.connect();
                    socket.on('giornata', function(data){
                          var obj = JSON.parse(data.some);
                          gaugeB.setValue(obj.tempB);
                              });
}

gaugeB.draw();

</script>
</center> 
</div>
 
</div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="content" class="bs-docs-header">             
  		  

			  			 			  
<table class="table">
    <thead>
		<tr>
		<th>Process </th> 
		<th><div id="Process"></div></th>  
        <th><button id="mystart" value="1" onclick="myFunctionstart()">Start</button></th>
       <th><button id="mystop" value="0" onclick="myFunctionstop()">Stop</button></th>
      </tr>
    </thead>
    <tbody>
        <tr  >
       <td >Sottoprocesso A</td>  
       <td ><div id="heaterA"></div></td>
       <td >Sottoprocesso B</td>
       <td ><div id="heaterB"></div></td>
       </tr>
       <tr>
        <td>Cicli A</td>
        <td><div id="cicliA"></div></td>  
        <td>Cicli B</td>
        <td><div id="cicliB"></div>
      </tr>
	    <tr>
        <td>Temp A</td>
        <td><div id="tempA"></div></td>
        <td>Temp B</td>
        <td><div id="tempB"></div></td>
      </tr>
      <tr>
        <td>Time Stamp A</td>
        <td><div id="ttA"></div></td>
        <td>Time Stamp B</td>
        <td><div id="ttB"></div></td>
      </tr>
      <tr>
        <td>MAX Threshold A</td>
        <td><div id="maxthA"></div></td>
        <td>MAX Threshold B</td>
        <td><div id="maxthB"></div></td>
      </tr>
      <tr>
        <td>MIN Threshold A</td>
        <td><div id="minthA"></div></td>
        <td>MIN Threshold B</td>
        <td><div id="minthB"></div></td>
      </tr>     
     
    </tbody>
</table>
          </div>
        </div>
        
    


	
<footer class="footer">
  <div class="container">

<div class="col-sm-3" style="background-color:lavender;">			
<label for="sel2" ><h1>MIN</h1></label>
<script>
function gaugeMINA(minA) {
	var maxA = $('#setmaxA').val();
	gaugeA.updateConfig({
		highlights  : [
		    { from : 0, to : minA, color :   'rgba(30,   0, 0, .25)' },
		    { from : minA, to : maxA, color : 'rgba(0, 255,  0, .15)' },
			{ from : maxA, to : 200, color : 'rgba(255, 30,  0, .25)' }
		],
	});
};
</script>
<script>
function gaugeMINB(minB) {
	var maxB = $('#setmaxB').val();
	gaugeB.updateConfig({
		highlights  : [
		    { from : 0, to : minB, color :   'rgba(30,   0, 0, .25)' },
		    { from : minB, to : maxB, color : 'rgba(0, 255,  0, .15)' },
			{ from : maxB, to : 200, color : 'rgba(255, 30,  0, .25)' }
		],
	});
};
</script>    

<script>
function gaugeMAXB(maxB) {
        var minB = document.getElementsById("setminB").value;
	//var minB = $('#setminB').val();
	gaugeB.updateConfig({
		highlights  : [
		    { from : 0, to : minB, color :   'rgba(30, 0,  0, .25)' },
		    { from : minB, to : maxB, color : 'rgba(0,   255, 0, .15)' },
			{ from : maxB, to : 200, color : 'rgba(255, 30,  0, .25)' }
		],
	});
};
</script>

 
<select class="form-control" id="setminA" onchange="setminTHA(this.value);gaugeMINA(this.value)">
								<option value='0'>0</option>
								<option value='20'>20</option>
								<option value='40'>40</option>
								<option value='60'>60</option>
								<option value='80'>80</option>
								<option value='100'>100</option>
								<option value='120'>120</option>
								<option value='140'>140</option>
								<option value='160'>160</option>
								<option value='180'>180</option>
								<option value='200'>200</option>
</select>
</div>

<div class="col-sm-3" style="background-color:lavender;">	
<label for="sel4"><h1>MAX</h1></label>
<input id="display6" type="hidden">
<select class="form-control" id="setmaxB" onchange="setmaxTHB(this.value);gaugeMAXB(this.value)">
								<option value='0'>0</option>
								<option value='20'>20</option>
								<option value='40'>40</option>
								<option value='60'>60</option>
								<option value='80'>80</option>
								<option value='100'>100</option>
								<option value='120'>120</option>
								<option value='140'>140</option>
								<option value='160'>160</option>
								<option value='180'>180</option>
								<option value='200'>200</option>
</select>
</div>	           
   
<div class="col-sm-3" style="background-color:lavender;">	
<label for="sel3" ><h1>MIN</h1></label>
<input id="display3" type="hidden" value="0">
<select class="form-control" id="setminB" onchange="setminTHB(this.value);gaugeMINB(this.value)">
								<option value='0'>0</option>
								<option value='20'>20</option>
								<option value='40'>40</option>
								<option value='60'>60</option>
								<option value='80'>80</option>
								<option value='100'>100</option>
								<option value='120'>120</option>
								<option value='140'>140</option>
								<option value='160'>160</option>
								<option value='180'>180</option>
								<option value='200'>200</option>
								
								
</select>
</div>
<div class="col-sm-3" style="background-color:lavender;">
    

                                       		
<script>
function gaugeMAXA(maxA) {
	var minA = $('#setminA').val();
	gaugeA.updateConfig({
		highlights  : [
		    { from : 0, to : minA, color :   'rgba(30,   0, 0, .25)' },
		    { from : minA, to : maxA, color : 'rgba(0, 255,  0, .15)' },
			{ from : maxA, to : 200, color : 'rgba(255, 30,  0, .25)' }
		],
	});
};
</script>
<label for="sel1"><h1>MAX</h1></label>
<select class="form-control" id="setmaxA" onchange="setmaxTHA(this.value);gaugeMAXA(this.value)">
								<option value='0'>0</option>
								<option value='20'>20</option>
								<option value='40'>40</option>
								<option value='60'>60</option>
								<option value='80'>80</option>
								<option value='100'>100</option>
								<option value='120'>120</option>
								<option value='140'>140</option>
								<option value='160'>160</option>
								<option value='180'>180</option>
								<option value='200'>200</option>
</select>
</div>   

     </div>
</footer>
